{%extends 'core/base.html'%}
{%load static%}


{% block contenido %} 
   {% block contacto%}
<!-- Formulario de contacto-->

<form action="" method="POST">
   {% csrf_token %}
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <h1 class="contact_text">CONTACTANOS</h1>
                  {% if 'ok' in request.GET %}
                     <p><b> Su mensaje fue recibido correctamente, en breve nos comunicaremos.</b></p>
                  {% endif %}
                        {{form_contacto.as_p}}
                        <input type="submit" class="btn btn-primary btn-block py-2" value="ENVIAR" />
               </div>
            </div>
         </div>
      </div>
</form>

<!-- contact section end -->
      {%endblock contacto%}
{% endblock contenido%}