
{%extends 'index.html'%}
{%load static%}


{% block contenido %} 
{% block about %}


<div class="about_section layout_padding">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <h1 class="about_text">¿Porque la palabra terapia es relacionada con locura?</h1>
            <p class="lorem_text">Hablar con amigos y contarles tus problemas, realizar algún deporte, ir de vacaciones, escapar un finde, entre otras,
               podemos decir que son espacios de ocio, reflexivos, terapéuticos.
               Pero porqué no asociamos como un acto de locura a las anteriores situaciones descriptas?.
               Dejo una descripción para quien quiera ahondar en el concepto más puro de <a href="https://es.wikipedia.org/wiki/Locura">locura</a>.</p>
               
               <p class="lorem_text_2renglon">Pero, pienso: y si alguien tiene amigos que no le dan el lugar a expresar que le pasa?
               Sientiendo la incomodidad de expresar sus sentimientos. O también
               lo juzgan, no lo escuchan, lo toman a chiste. En algunos casos, hay consecuencias, y
               son esos mismos amigos quienés, incrédulos ante la situación, se preguntan como fué que pasó.</p> 
               <p class="lorem_text_2renglon">
               Y si la situación económica no le permite viajar a despejarse?
               Y si no puede hacer deportes por diferentes motivos?. 
               Que pasa con las personas que no encuentran esas herramientas para ser escuchados?.
              
               </p>
               <!--- <p class="lorem_text_2renglon">Pensemos en que estas en el plan "desconectar". Podés dilucidar si alguna vez en esas situaciones de escapatoria, fuiste capaz de resolver ese algo que te venía estresando / molestando / aquejando?
                  Cuando toca regresar, desaparece "ese" problema / incoveniente / situación?. Creo que puedo adivinar.
               </p>--->

               <p class="lorem_text_2renglon"> 
                  Esta necesidad, cuasi viceral, nace a partir de mi propia experiencia. De haber transitado mucho dolor de la psiquis.
                  De años de estar en la sombra del desconocimiento, tomado por la impulsividad y los sentimientos más primitivos del ser humano, 
                  (según la <a href="https://www.psicologia-online.com/teoria-de-las-emociones-de-paul-ekman-5391.html">teoría de las emociones</a> de Paul Ekman en 1984 
                  describe como: <b>tristeza, alegría, ira, temor, deseo, asco, interés y sorpresa</b>).<br>
                  Compartiendo ese <b>temor</b>, esa <b>tristeza</b>, esa <b>ira</b> que produce el desencuentro de la emoción con la razón, 
                  con distintos profesionales y personas (a los cuáles hago mi agradecimiento, sin ellos no hubiera "despertado"),  
                  pude escuchar relatos con un alto nivel de semejanza con mi historia.
                  Que a su vez, matchean perfectamente con la de otras, es decir, historias muy parecidas de personas que no se conocen.<br>
                  Arrastramos una conjunción vivencial (vivencias y mandatos), que a veces, ni siquiera ponemos en duda si realmente queremos hacer lo que hacemos. 
                  Esa sumatoria entre la desconexión que produce el desconocimiento psiquico-emocional, la conjunción vivencial, los miedos, 
                  un contexto (que en este caso, va a ser desfavorable hasta que lo podamos comprender) 
                  hace que no entenedamos quienes somos, mucho menos quienes queremos ser. <br>
                  <b style="color: black;">Sólo, intentamos seguir siendo lo que podemos, con lo que hicieron de nosotros.</b>
               </p>
               <p class="lorem_text_2renglon">Desconocemos el peso de las palabras en nuestro inconsciente.
                  Cómo te hablas?. Te invito a hacer un ejercicio.<br>Imaginemos una situación: se te cae un vaso.<br> 
                  Cuál es tu sensación? Que te decís y porqué?.<br>
                  Contemplas que sólo puede ser una distracción?.<br>
                  Ahora que la tenés presente, imaginá si lo hacías cuando eras niñ@.
                  Cuál era la reacción de quién estaba a tu "cargo"? Como te hablaban?<br> Y por último, que sentís ahora?.......................</p>
               <!--Podemos entender que nuestra mente funciona por medio de patrones (comportamientos aprendidos que pueden ser conscientes o no. Pueden ser modificados, independientemente si son buenos o malos).<br>
                  Voy a nombrar dos para que quede claro: La queja y la higiene personal.<br> -->    
                  <p class="lorem_text_2renglon">Este proyecto busca ser el nexo entre quienes que no entienden que les pasa, con quienes ya pasamos por ahí.<br> 
                  Estoy convencido de que algo que te está sucediendo, ya le pasó a alguien más.<br>
                  Apaciguar el sufrimiento de alguien, es el mayor rédito que un ser puede obtener.
                  En esta caso una psiquis doliente.<br>Mi deseo es poder ayudarte, y también que puedas ayudar. </p>
                  <p class="lorem_text_2renglon">Ah! casi me olvido, me llamo Lucas y esto es <b>totalmente GRATIS y ATP.</b><br> </p>
            <div class="read_bt1"><a href="#">¿Queres participar?</a></div>
         </div>
         <div class="col-md-6">
            <div class="image_1"><img src="{%static 'blog/images/cambio.jpg'%}"></div>
         </div>
      </div>
   </div>
</div>


{%endblock about%}
{% endblock contenido%}

