{% extends 'index.html' %}

{% block contenido %} 
{% block posteos %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if posts %}
        {% for post in posts %}

        <div class="post-preview">
            <h2 class="post-title">
              {{post.titulo}}
            </h2>
            <h3 class="post-subtitle">
              {{post.contenido}}
            </h3>
          <p class="post-meta">Escrito por
            <strong>{{post.autor_id}}</strong>
             en {{post.fecha_creacion}}</p>
        </div>
        <hr>
          {% endfor %}
        {% else %}
        <h1>No existe ningun post registrado</h1>
        {% endif%}
        <!-- Paginador -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Más post's &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock posteos %}
{% endblock contenido %} 