
{%extends 'core/base.html'%}
{%load static%}

{% block contenido %} 
{% block historia %}

<div class="about_section layout_padding">
   <div class="container">
      {% comment %} <div class="row"> {% endcomment %}
         {% comment %} <div class="col-md-6"> {% endcomment %}
            <h1 class="about_text">¿Porque la palabra terapia es relacionada con locura?</h1>
            <p class="lorem_text">Hablar con amigos para contarles tus problemas, realizar algún deporte, ir de vacaciones, escapar un finde, entre otras cosas.
               Podemos decir que son espacios de reflexivos, de ocio, o terapéuticos.
               Pero porqué no son asociados como actos preventores de la "locura"?.
               Dejo una descripción para quien quiera ahondar en el concepto más puro de <a href="https://es.wikipedia.org/wiki/Locura">locura</a>.
            </p>
               
               <p class="lorem_text">Pienso y cito a Erasmo de Róterdam quien en su elogio de la locura dice: 
                  La sabiduría inoportuna es una locura, del mismo modo que es imprudente la prudencia mal entendida.</p> 
               <p class="lorem_text"> Continúo, esta vez en la cita de Ana Belen Ortiz<a href="https://www.instagram.com/p/CwIJDNyrIbs/"> quien plantea </a>: 
                  ¿Acaso la locura no es un error de perspectiva de los cuerdos?
                  ¿No se vuelve loco quien tiene un concepto demasiado estricto de lo que significa estar "cuerdo"?
               </p>
               <!-- <p class="lorem_text_2renglon">Pensemos en que estas en el plan "desconectar". Podés dilucidar si alguna vez en esas situaciones de escapatoria, fuiste capaz de resolver ese algo que te venía estresando / molestando / aquejando?
                  Cuando toca regresar, desaparece "ese" problema / incoveniente / situación?. Creo que puedo adivinar.
               </p>-->

               <p class="lorem_text"> 
                  Esta idea surge de una necesidad, cuasi viceral, que nace a partir de mi propia experiencia. De haber transitado mucho dolor de la psiquis.
                  De años de estar en la sombra del desconocimiento, tomado por la impulsividad y los sentimientos más primitivos del ser humano 
                  (según la <a href="https://www.psicologia-online.com/teoria-de-las-emociones-de-paul-ekman-5391.html">teoría de las emociones</a> de Paul Ekman en 1984 
                  describe como: <b>tristeza, alegría, ira, temor, deseo, asco, interés y sorpresa</b>).<br></p>
                  <p class="lorem_text_2renglon">
                  El mismo <b>temor</b>, y la misma <b>tristeza</b> que produce el desencuentro de la emoción con la razón, acompañado de <a href="https://www.nimh.nih.gov/health/publications/espanol/trastorno-de-panico-cuando-el-miedo-agobia">ataques de pánico</a>
                  me llevaron a terapia (agradezco a Silvia de la rama cognitivo conductual, en principio por frenar la sintomatología en la desesperante primera instancia. Agradezco a Patricio, del psicoanalisis puro, por estar hoy. Es quien me guió a domarlos y quien me acompaña a entrar en mi inconsciente). 
                  <br>También hablé con muchas personas de diferentes edades. Les conté mi historia.  
                  Pude escuchar sus relatos, con un alto nivel de semejanza entre sí y por supuesto, con el mío.
                  <br>
                  Arrastramos una conjunción vivencial (vivencias y mandatos), que a veces, ni siquiera ponemos en duda si realmente queremos hacer lo que estamos haciendo. 
                  Esa sumatoria entre la desconexión que produce el desconocimiento psiquico-emocional, la conjunción vivencial, los miedos, 
                  un contexto (que en este caso, va a ser desfavorable hasta que lo podamos comprender) 
                  hace que no entenedamos quienes somos, mucho menos quienes queremos ser. <br>
                  <b style="color: black;">Sólo, intentamos seguir siendo lo que podemos, con lo que hicieron de nosotros.</b>
               </p>
               <p class="lorem_text_2renglon">Desconocemos el peso de las palabras en nuestro inconsciente. Él no conoce de chistes. Todo es LITERAL.
               <br><b style="color: black;" >Cómo te hablas?</b></p>

                  <p class="lorem_text_2renglon">Te invito a hacer un ejercicio.<br>Imaginemos una situación en la cuál, se te cae un vaso de la mano al suelo.<br> 
                  Cuál es tu sensación? Que te decís y porqué?.<br>
                  Contemplas que sólo puede ser una distracción?.<br>
                  Ahora que la tenés presente, imaginá si lo hacías cuando eras niñ@.
                  Cuál era la reacción de quién estaba a tu "cargo"? Como te hablaban?<br> Y por último, que sentís ahora?.......................</p>
               <!--Podemos entender que nuestra mente funciona por medio de patrones (comportamientos aprendidos que pueden ser conscientes o no. Pueden ser modificados, independientemente si son buenos o malos).<br>
                  Voy a nombrar dos para que quede claro: La queja y la higiene personal.<br> -->    
                  <p class="lorem_text_2renglon">Este proyecto busca darle la mano a quienes que no entienden que les pasa, con quienes ya pasamos por ahí.<br> 
                  Por matemáticas y estadísticas, algo que te está sucediendo, ya le pasó a alguien más.<br>
                  <br>El sufrimiento se puede apaciguar.</br> 
                  <br>La psiquis funciona muchas veces, por medio de <a href="https://fastercapital.com/es/contenido/RFRP-en-Psicologia--Analisis-del-impacto-de-los-patrones-en-la-mente.html">patrones de comportamiento</a> . 
                  Por eso los profesionales de la salud mental y una cuota de amor, son capaces de sacarte del pozo más profundo que puedas imaginar.
                  <br>Espero poder ayudarte, y también motivarte a que puedas ayudar.
                  <br><b style="color: black;" >La terapia es lo mejor que podes hacer por vos. No importa cuál, ni con quién.</b><br> 
                  <p class="lorem_text_2renglon">Me nombre es Lucas y esto es <b>totalmente GRATIS y ATP.</b><br> </p>
            <div class="read_bt1"><a href="#">¿Querés contar algo?</a></div>
         {% comment %} </div> {% endcomment %}
         {% comment %} <div class="col-md-6">
            <div class="image_1"><img src="{%static 'core/images/cambio.jpg'%}"></div>
         </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
   </div>
</div>

{%endblock historia%}
{% endblock contenido %} 

