{%extends 'core/base.html'%}
{%load static%}


{% block contenido %} 
{% block terapias %}
<!-- Terapias section start -->
<div class="furnitures_section layout_padding" id="terapias">
    <div class="container">
       <h1 class="our_text">Terapias</h1>
       <p class="ipsum_text">Existen muchas corrientes. Podes ver cuál es la adecuada para vos. </p>
       <p class="ipsum_text_b">De todas maneras, nunca dejes de buscar la comodidad de tu espacio terapéutico. </p>
       <div class="furnitures_section2 layout_padding">
          <div class="row">
             <!--Psicoanalisis-->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/freud.png' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://es.wikipedia.org/wiki/Psicoan%C3%A1lisis" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Psicoanalisis</h3>
                <p class="dololr_text">Es la exploración del inconsciente a través de la asociación libre (expresar durante las sesiones todas los sentimientos y ocurrencias que aparezcan). 
                   A diferencia de los métodos que se basan en ejercicios, o aprendizaje o de las explicaciones en el plano cognitivo, 
                   el psicoanálisis se encuentra entre las técnicas de descubrimiento, que intentan que el paciente logre una comprensión profunda de las circunstancias 
                   (generalmente inconscientes) que han dado origen a sus afecciones, o son la causa de sus sufrimientos o malestares psíquicos. 
                   El objetivo esencial de la terapia psicoanalítica una comprensión racional acerca de las relaciones causales. 
                   Se trata más bien de lograr una reestructuración de más amplio alcance de la personalidad, muy especialmente de la vida afectiva y 
                   particularmente en aquellas áreas que contribuyen y mantienen la formación de síntomas, o de formas defensivas que causan daño o malestar.</p>
             </div>
             <!-- Fin psicoanalisis-->
             <!---->
             <!--Cognitivo conductual-->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/cc.jpg' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://es.wikipedia.org/wiki/Terapias_cognitivo-conductuales" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Cognitivo Conductual</h3>
                <p class="dololr_text">La terapia cognitivo-conductual se enfoca en el presente y en el futuro. Ayuda a las personas a darse cuenta de que tienen el control sobre sus comportamientos.
                   Por ejemplo, identificar situaciones problemáticas o trastornos de tu vida. Una afección médica, un divorcio, una pena, un enojo, etc.
                   Prestar atención a tus pensamientos, emociones y opiniones en relación con estos problemas. Una vez identificado el problema, podrás contarle al terapeuta que pensas sobre ese problema. Es posible que el terapeuta te pida que escribas un diario con tus diálogos internos.
                   Identificar pensamientos negativos o inexactos. También puede pedirte que prestes atención a tus respuestas físicas, emocionales y conductuales ante diversas situaciones.
                   También podrás reformular pensamientos negativos o inexactos. Aprenderás a ver si tu opinión se sustenta en hechos o en una percepción inexacta de la realidad.</p>
             </div>
             <!--Fin cognitivo-->
             <!---->
             <!--Holística -->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/holistica.jpg' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://ieeducacion.com/terapia-holistica/" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Holístico</h3>
                <p class="dololr_text">La medicina holística no tiene base científica, es del tipo alternativa, 
                   que se basa en los poderes de sanación naturales del organismo, 
                   las formas en que los tejidos interaccionan y la influencia del medio ambiente.<br> 
                   El enfoque pretende tratar al paciente y no a su enfermedad.
                   Podemos encontar varios tipos de tratamiento como: <b>Homeopatía, Acupuntura, Aromaterapia, Flores de bach, entre otros.</b>
                   <br>
                   <br>
                   <br>
                   <br>
                </p>
                
             </div>
             <!-- Fin holistica-->
             <!---->
             <!--Humanista-->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/humanista.png' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://es.wikipedia.org/wiki/Psicolog%C3%ADa_humanista" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Humanismo</h3>
                <p class="dololr_text">Esta corriente nace cómo reacción al psicoanalisis y el conductismo más ortodoxo.
                   El psicoanálisis se centraba en los instintos y el conductismo en los mecanismos de acción, reacción y refuerzo.<br> 
                   EL movimiento humanista, pretende la consideración global de la persona y la acentuación en sus aspectos existenciales 
                   (la libertad, el conocimiento, la responsabilidad, la historicidad).<br> 
                   Cuestiona una concepción de la psicología que, desde la vocación de reconocerse como una ciencia natural, 
                   reducía al ser humano a variables cuantificables (conductismo), o centrada tan solo en aspectos negativos y patológicos del ser humano (psicoanálisis).<br> 
                
                </p>
             </div>
             <!--Fin humanista-->
             <!-- -->
             <!--Junguiana-->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/jung.webp' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://es.wikipedia.org/wiki/Psicolog%C3%ADa_anal%C3%ADtica" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Junguiana</h3>
                <p class="dololr_text">Carl Jung, el padre de la psicología analítica era mucho más que ese psiquiatra y analista suizo que llevó a otro nivel muchos de esos conceptos heredados de Sigmund Freud. 
                    fue un alquimista de la ciencia, de la antropología, la astrología, el arte, la religión y el mundo de los sueños<br>
                    s el arte de una psicología profunda, donde gracias a una relación dialéctica y cercana entre el analista y el paciente, 
                    se logra unir las partes conscientes con las inconscientes para dar forma a un Yo más genuino y a un auténtico equilibrio emocional. </p>
             </div>
             <!--Fin junguiana-->
             <!---->
             <!--Mindfulness-->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/mindfulnes.png' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://es.wikipedia.org/wiki/Mindfulness" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Mindfulness</h3>
                <p class="dololr_text">Mindfulness o Atención Plena significa prestar atención de manera conciente a 
                   la experiencia del momento presente con interés, curiosidad y aceptación. Jon Kabat-Zinn, 
                   conocido referente mundial de Mindfulness por haber introducido esta práctica dentro del modelo médico de 
                   occidente hace más de 30 años, fundó la Clínica de Reducción de Estrés en el Centro Médico de la Universidad de Massachusetts<br> 
                   Allí introdujo a los pacientes a la práctica de Mindfulness para el tratamiento de problemas físicos, y psicológicos, dolor crónico, y 
                   otros síntomas asociados al estrés. </p>
             </div>
             <!--Fin mind-->
             <!---->
             <!--Sistemica-->
             <div class="col-md-6">
                <div class="container_main">
                   <img src="{% static 'core/images/sistemica.jpg' %}" class="image_iguales rounded">
                   <div class="overlay">
                      <a href="https://es.wikipedia.org/wiki/Terapia_sist%C3%A9mica" class="icon" title="User Profile">
                      <i class="fa fa-search"></i>
                      </a>
                   </div>
                </div>
                <h3 class="temper_text">Sistémica</h3>
                <p class="dololr_text">es un enfoque  global e integral, con un pensamiento circular y no lineal, 
                   cuyo objeto de estudio y campo de intervención son los sistemas  familiares  y  sus subsistemas : 
                   Pareja, Fratría, e  Individual y otros grupos de pertenencia significativos.<br>
                   Se aplica para el tratamiento de disfunciones, trastornos y enfermedades concebidas 
                   como expresión de las alteraciones en las interacciones, estilos relacionales y patrones de comunicación humano, 
                   que está basada en la Teoría General de Sistemas enunciada por Ludwig von Bertalanffy.</p>
             </div>
             <!--Fin sistemica-->
             
          </div>
       </div>
    </div>
 </div>
 <!-- terapias section end -->

{%endblock terapias%}
{% endblock contenido%}
